html {
  overflow-x: hidden;
  width: 100%;
  background: var(--color-white);
  /* background: linear-gradient(to bottom, #191919, #31283c, #55335c, #833974, #b73882, #cd4e96, #e463aa, #fb78be, #f3a0df, #eec3f4, #f0e3fe, #ffffff);  color: var(--color-black); */
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
}
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  line-height: 1;
}
h1, h2, h3, h4, h5 {
  text-align: center;
  display: inline;
  margin: 0;
}
h1, h2 {
  text-transform: uppercase;
}
h1 {
  font-family: 'Asap', sans-serif;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.1em;
  color: var(--color-white);
}
h2 {
  font-family: 'Asap', sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
h3 {
  font-size: 30px;
  letter-spacing: 0.025rem;
}
h4 {
  padding: 0 6rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.33rem;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.33rem;
}
textarea:focus, input:focus, a:focus {
  outline: none;
}
input[type=submit]:hover {
  cursor: pointer;
}
a {
  color: var(--color-lightpink);
  text-decoration: underline;
}
.container {
  height: 100%;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* --------------------------------------------- Footer --------------------------------------------- */
.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4rem 7rem;
  background: var(--color-grey);
  min-height: 40vh;
}
.footer_collumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 8rem;
}
.footer_row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 8rem;
}
.support_sponsors {
  display: flex;
  flex-direction: row;
}
.support_sponsors .footer_collumn {
  margin-right: 4rem;
}
.support {
  max-height: 45px;
  margin-bottom: 1rem;
}
#inovc {
  max-height: 70px;
}
.inside_collum {
  margin-right: 0;
}
.inside_collum:last-child {
  margin-top: 4rem;
}
#footer {
  width: 130px;
  height: auto;
}
.social_networks {
  width: 40px;
  height: auto;
}
.footer_row a:first-child {
  margin-right: 1rem;
}
.footer h5, .footer a {
  text-decoration: none;
  color: var(--color-darkgrey);
  margin-bottom: .5rem;
}
.footer_collumn h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: left;
}

.footer a:hover {
  text-decoration: underline;
}
@media (max-width: 1300px) { /*tablet*/
  .footer {
    padding: 3rem;
  }
  .footer_collumn {
    margin-right: 3rem;
  }
  .support_sponsors .footer_collumn {
    margin-right: 3rem;
  }
  .footer_collumn .inside_collum {
    margin-right: 0;
  }
}
@media (max-width: 980px) { /*mobile*/
  .footer {
    flex-direction: column;
  }
  .footer_collumn {
    margin-right: 0;
  }
  .footer_collumn a {
    margin-bottom: 4rem;
  }
  .footer_row  {
    margin-top: 0 !important;
  }
  .hidden {
    display: none;
  }
}
@media (max-width: 680px) { /*mobile*/
  .support_sponsors {
    flex-direction: column;
  }
}
@media (max-width: 400px) { /*tablet*/
  .footer {
    padding: 2rem;
  }
}
