/* --------------------------------------------- General --------------------------------------------- */
.hero, .main_logo, .symbol {
  min-height: 70vh;
}
.download_all {
  min-height: 40vh;
}
.hero {
  background: var(--color-black);
}
.all_teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.info_logo {
  width: 300px;
  margin: 0 3rem;
}
.img_colorblack, .img_colorwhite, .img_whitewhite {
  padding: 5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.4em 0.5em 0 rgba(0, 0, 0, 0.15);
}
.img_colorwhite {
  background-color: black;
}
.img_whitewhite {
  background: linear-gradient(to right, #b3307c 0%, #ff3183 100%);
}
.buttons {
  display: flex;
 justify-content: space-between;
}
.buttons a, .download_all a {
  width: 49%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 .5rem .5rem 0;
  color: var(--color--darkgrey);
  background: var(--color-grey);
  text-decoration: none;
  transition: 0.5s;
}
.buttons a:first-child {
  border-radius: .5rem 0 0 .5rem;
}
.buttons a:hover, .download_all a:hover {
  box-shadow: 0 0.4em 0.5em 0 rgba(0, 0, 0, 0.15);
}
.download_all {
  align-items: center;
}
.download_all a {
  width: 200px;
  border-radius: .5rem;
}
/* --------------------------------------------- Image --------------------------------------------- */
#logo {
  margin: 2rem auto 6rem;
  width: 160px;
  height: auto;
}
/* --------------------------------------------- Text --------------------------------------------- */
.hero h1 {
  font-size: 4rem;
}
.main_logo h2, .symbol h2 {
  color: var(--color-darkgrey);
  font-size: 35px;
  padding-bottom: 2.5em;
}
.download_all h5 {
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 1rem;
}
/* ------------------------------------------ Media Queries ------------------------------------------ */
@media (max-width: 1300px) { /*13 inches laptop*/
  .main_logo h2 {
    margin-top: 6rem;
  }
  .download_all {
    padding: 0 9rem;
  }
  .info_logo {
    margin-bottom: 6rem;
  }
}
@media (max-width: 700px) { /*mobile*/
  .download_all {
    padding: 0 3rem;
  }
  .hidden {
    display: none;
  }
  .main_logo h2, .symbol h2 {
    font-size: 30px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  @media (max-width: 350px) { /*mobile*/
    .download_all {
      padding: 0 1rem;
    }
  }
}
