:root {
  --color-lightpink: #FF3183;
  --color-darkpink: #B3307C;
  --color-black: #191919;
  --color-white: #ffffff;
  --color-grey: #F4F4F4;
  --color-darkgrey: #444444;
  --color-othergrey: #A5A5A5;
}
